$principal: #f17200;

.container {
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 1em;
    }

    .linea {
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgb(51, 51, 51);
            margin-top: 5px;
        }
    }
}

.btnCorreo{
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 9999;
    background-color: #0a70b9;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    &:hover{
        color: #0a70b9;
        background: #fff;
        border: 1px solid #0a70b9;
        transition: 0.6s ease;
    }
}




.bordes {
    .col-6 {
        border-bottom: 1px solid grey;
        margin-bottom: 0.3em;

        &:hover {
            background: #8080801f;
        }
    }

    .col-3 {
        border-bottom: 1px solid grey;
        margin-bottom: 0.4em;

        &:hover {
            background: #8080801f;
        }
    }

    .col-4 {
        border-bottom: 1px solid grey;
        margin-bottom: 0.4em;

        &:hover {
            background: #8080801f;
        }
    }
}
.image-container {
    position: relative;
}

.image-container img {
    display: block;
}

.image-container h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.bordes .col-6:hover {
    background: #8080801f;
}

.bordes .col-3 {
    border-bottom: 1px solid grey;
    margin-bottom: 0.4em;
}

.bordes .col-3:hover {
    background: #8080801f;
}

.bordes .col-4 {
    border-bottom: 1px solid grey;
    margin-bottom: 0.4em;
}

.bordes .col-4:hover {
    background: #8080801f;
}

.datos {
    h3 {
        color: $principal;
    }

    span {
        font-weight: 400;
    }
}

.sinborde {
    h1 {
        font-size: 1.5em;
        color: #f17200;

        &:after {
            content: "";
            display: block;
            width: 62px;
            height: 3px;
            background-color: #f17302;
            margin-bottom: 0.2em;
        }
    }

    p {
        font-weight: 400;
        border-left: none;
        text-align: justify;
    }

    h2 {
        font-size: 1.2em;
        color: #00217e;
    }
}

.pdf-button {
    position: fixed;
    bottom: 22px;
    right: 20px;
    z-index: 999;
    background: $principal;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    &:hover{
        background: #fff;
        color: $principal;
        border: 1px solid $principal;
        transition: 0.4s;
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 100%;
    }
}

@media print {
    .pdf-only {
        display: none;
    }
}